form {
  min-width: 400px;
}

.text-decoration-none {
  color: #999;
  font-weight: 500;
}

.text-center {
  font-size: 24px;
  font-weight: bold;
  color: #0d6efd;
}

.github > span + img {
  cursor: pointer;
}
